<%- include('partials/header') -%>

<!-- Hidden input to pass board name to jQuery script -->
<input type="hidden" id="board-hidden" value="<%= board %>">

<section id="board-header" class="container-fluid">

  <header>
    <h1 id="boardTitle">Post ID: <%= threadId %> from <%=board %> board</h1>
  </header>

</section>

<section id="board-display" class="container-fluid">

  <div class="thread">
    <div class="main">
      <!-- Top -->
      <div class="top">
        <form id="reportThread" class="report-form">
          <!-- Hidden ID Value for Report -->
          <input type="hidden" name="report_id" value="<%= post._id %>">
          <input class="btn btn-secondary btn-sm" type="submit" value="Report">
        </form>
        <div class="id">
          ID: <%= post._id %> (<%= post.created_on %>)
        </div>
        <form id="deleteThread" class="form-inline delete-form">
          <!-- Hidden ID Value for Delete -->
          <input type="hidden" name="thread_id" value="<%= post._id %>" required="">
          <input class="form-control form-control-sm" type="text" name="delete_password" placeholder="password" required="" />
          <input class="btn btn-danger btn-sm" type="submit" value="Delete">
        </form>
      </div>
      <!-- Post Text Here -->
      <h3 class="post-text"><%= post.text %></h3>
    </div>

    <!-- Replies Start Here -->
    <div class="replies">
      <% post.replies.forEach(function(rep) { %>
        <div class="reply">
          <div class="top">
            <form id="reportReply" class="report-form">
              <input type="hidden" name="thread_id" value="<%= post._id %>">
              <input type="hidden" name="reply_id" value="<%= rep._id %>">
              <input class="btn btn-secondary btn-sm" type="submit" value="Report">
            </form>
            <div class="id">
              ID: <%= rep._id %> (<%= rep.created_on %>)
            </div>
            <form id="deleteReply" class="form-inline delete-form">
              <input type="hidden" name="thread_id" value="<%= post._id %>" required="">
              <input type="hidden" name="reply_id" value="<%= rep._id %>" required="">
              <input class="form-control form-control-sm" type="text" placeholder="Password" name="delete_password" required="">
              <input class="btn btn-danger btn-sm" type="submit" value="Delete">
            </form>
          </div>
          <p><%= rep.text %></p>
        </div>
      <% }); %>
      <div class="new-reply">
        <form id="newReply">
          <input type="hidden" name="thread_id" value="<%= post._id %>">
          <textarea class="form-control" type="text" placeholder="Quick reply..." name="text" required=""></textarea>
          <div class="submit-line form-inline">
            <input class="form-control form-control-sm" type="text" placeholder="Password to delete" name="delete_password" required="" autocomplete="off">
            <input class="btn btn-primary btn-sm" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>

</section>

<%- include('partials/footer') -%>
